@media screen and (min-width:375px) and (max-width:767px){

body{
    overflow-x: hidden;
}


.body2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

.accent-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.015em;
}


h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

h2 {
    font-family: inherit;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

h3 {
    font-family: inherit;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

p{
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

.container{
    max-width: 375px;
    width: 100%; 
    margin: 0 auto;
}

/* NAVBAR */
.navbar-position{
    position: absolute;
    margin: 20px;
    left: 50%;
    transform: translate(-50%);
}

.navbar-menu-logo{
    display: block;
    position: absolute;
    right: 5%;
}

.navbar-menu-close-logo{
    display: block;
    position: absolute;
    top: 0;
    right: 5%;
}

.menu-checkbox, .menu-close-checkbox{
    display: none; 
}

.navbar-menu-container{
    position: fixed;
    top: 0;
    right: -100%; /* Başlangıçta sağda gizli */
    width: 100%;
    height: 100vh;
    background-color: var(--green);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 250px;
    padding-top: 296px;
}

.navbar-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 24px;
}

.navbar-menu-list-button{
    margin-top: 232px;
}



.menu-checkbox:checked ~ .navbar-menu-container{
    right: 0%;
    width: 100vw;
    height: 100vh;
}


.menu-checkbox:checked ~ .navbar-menu-logo{
    display: none;
}

.menu-close:checked ~ .navbar-menu-container{
    right: -100%;
}



/* HERO */

.hero-flex{        
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-left{
    margin-top: 100px;
    padding: 20px;
    gap: 20px;
}

.hero-left-text{
    padding-right: 0;
}

.hero-image-desktop, .hero-image-tablet{
    display: none;
}

.hero-image-mobile{
    display: block;
    padding: 0;
}

/* HOW İT WORKS */

.hiw-flex{
    display: flex;
    flex-direction: column;
}

.how-it-works-left{
    padding: 40px 20px 40px 20px;
}

.hiw-desktop, .hiw-tablet{
    display: none;
}

.hiw-mobile{
    display: block;
}

.how-it-works-right{
    padding: 80px 20px 80px 20px;

}

.hiw-list-container{
    margin-top: 40px;
}

/* ADVERTİSEMENT */

.advertisement{
    padding: 80px 20px;
}

.advertisement-text-color{
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    padding: 0px;
}

.advertisement-text{
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}


/* VEGETABLES */

.vegetables-container{
    padding: 80px 20px;
}

.vegetables-title-container{
    width: 325px;
    margin-bottom: 40px;
}

.vegetables-card{    
    padding: 32px 24px;
}

.vegetables-card-image-desktop, .vegetables-card-image-tablet{
    display: none;
}

.vegetables-card-image-mobile{
    display: block;    
}

/* REVİEWS */
.reviews-container{
    padding: 80px 20px;
    margin: 0 auto;
}

.reviews-title-container{
    width: 335px;
    gap: 24px;
}

.reviews-comment-cards{
    width: 100%; 
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
 
}

.reviews-comment-card{
    min-width: 335px;   
}

/* YOUR ORDER */
.your-order{
    padding: 80px 20px;
}

.your-order-title-container{
    width: 335px;
}

.your-order-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.your-order-container-left{
    margin: 0 64px;
    padding: 40px 20px;
    min-width: 335px;
}

.your-order-container-right{
    padding: 40px 20px;
    min-width: 335px;
    margin: 0 auto;
}   

.your-order-container-right-image{
    text-align: center;
    margin-bottom: 20px;
}

.your-order-image-mobile{
    display: block;
    border-radius: 15px;
    width: 295px;
    height: 272px;
}

.your-order-image-desktop, .your-order-image-tablet{
    display: none;
}

.your-order-social{
    flex-wrap: wrap;
}


/* FOOTER */
.footer{
    padding: 40px 20px;
}


.footer-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-menu-contacts{
    flex-direction: column;
    gap: 40px;
}


.privacy-policy-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
}

}


