@import url(./tablet.css);
@import url(./mobile.css);

:root{
    --dark: #141414;
    --white:#FBFBFB;
    --chianti:#7A3145;
    --blush:#D4BFC4;
    --green:#576F35;
    --grey:#858585;
    --transparent:#141414;
    --greenlight:#3CBC81;
    --error-smthwrong:#E74A3B;
}

*{
    font-family: "Inter Tight", serif;
    margin: 0;
    padding: 0;
}

a,ul,li{
    text-decoration: none;
    list-style: none;
}

.body2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}

.accent-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.015em;
}


h1 {
    font-family: inherit;
    font-weight: 600;
    font-size: 76px;
    line-height: 76px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

h2 {
    font-family: inherit;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

h3 {
    font-family: inherit;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

p{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}

.container{
    max-width: 1280px;
    width: 100%; 
    margin: 0 auto;
}


/* NAVBAR */

.navbar{
    position: relative;
}

.navbar-position{
    position: absolute;
    margin: 32px;
    left: 50%;
    transform: translate(-50%);
}

.logo-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.navbar-logo-image{
    cursor: pointer;
}


.navbar-menu-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


.navbar-menu-list-item{
    padding: 12px;
    border: 1px solid var(--white);
    border-radius: 12px;
    cursor: pointer;
}

.navbar-menu-list-item:hover{
    background-color: var(--blush);
    border-color: transparent;
    color: var(--chianti);
}

.navbar-menu-list-item:hover>.navbar-menu-link{
    color: var(--chianti);
}

.navbar-menu-list-item:active{
    background-color: var(--white);
    border-color: transparent;
    color: var(--chianti);
}

.navbar-menu-list-item:active>.navbar-menu-link{
    color: var(--chianti);
}


.navbar-menu-link{
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}

.navbar-shop-button{
    border: 1px solid transparent;
    background-color: var(--chianti);
    border-radius: 30px;
    padding: 16px 32px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    cursor: pointer;
}

.navbar-shop-button:hover{
    background-color: var(--blush);
    color: var(--chianti);
}

.navbar-shop-button:active{
    background-color: var(--white);
    color: var(--chianti);
}

.navbar-menu-logo,.menu-checkbox, .menu-close-checkbox, .navbar-menu-close-logo{
    display: none;
}





/* HERO */

.hero{
    background-color: var(--green);
}

.hero-flex{
    display: flex;
    flex-direction: row;
    gap: 36px 0 36px 0;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 128px;
    margin-top: 232px;
    padding-left: 100px;
}

.hero-left-title{
    color: var(--white);
}

.hero-left-text{
    color: var(--white);
    padding-right: 32px;
}

.hero-image-tablet, .hero-image-mobile{
    display: none;
}

/* HOW İT WORKS */

.how-it-works{
    background-color: var(--chianti);
}

.hiw-flex{
    display: flex;
}

.how-it-works-left{
    padding: 100px;
}

.hiw-tablet, .hiw-mobile{
    display: none;
}

.hiw-desktop{
    display: block;
    border-radius: 30px;
}

.how-it-works-right{
    padding: 100px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
}

.hiw-info-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hiw-info-title{
    color: var(--white);
}

.hiw-title-color{
    color: var(--blush);
}

.hiw-text{
    color: var(--white);
}

.hiw-list-container{
    margin-top: 104px;
}

.hiw-list{
    counter-reset: counter-item;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hiw-list-content {
    display: flex;
    min-width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    background-color: #fbfbfb;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    color: var(--grey);
  }

.hiw-list-content::before {
    counter-increment: counter-item;
    content: counters(counter-item, ".") " ";
    width: 52px;
    height: 52px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: #7a3145;
    border: 5px solid #d0bfc4;
    border-radius: 50%;
    /* number-style */
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-right: 24px;
  }

.hiw-list-content-color{
    display: contents;
    font-weight: bold;
    color: var(--dark);
}


/* ADVERTİSEMENT */

.advertisement{
    padding: 100px;
}

.advertisement-text-color{
    color: var(--white);
    background-color: var(--green);
    border: 0px solid transparent;
    border-radius: 12px;
    padding: 10px;
    display: inline-block;
}

.advertisement-text{
    display: inline;
}


/* VEGETABLES */

.vegetables{
    background-color: var(--chianti);
}

.vegetables-container{
    padding: 100px;
}

.vegetables-title-container{
    width: 626px;
    margin-bottom: 52px;
}

.vegetables-title{
    color: var(--white);
    margin-bottom: 24px;
}

.vegetables-title-color{
    color: var(--blush);
}

.vegetables-text{
    color: var(--white);
}

.vegetables-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.vegetables-card{    
    background-color: var(--white);
    border-radius: 40px;
    padding: 32px;
}

.vegetables-card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}   


.vegetables-card-title{
    color: var(--chianti);
    margin-bottom: 12px;
}

.vegetables-card-image-desktop{
    width: 280px;
    height: 244px;
    margin: 8px auto;

}

.vegetables-card-image-tablet, .vegetables-card-image-mobile{
    display: none;
}


/* REVİEWS */

.reviews-container{
    padding: 100px;
    margin: 0 auto;
}

.reviews-title-container{
    width: 553px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reviews-title-color{
    color: var(--green);
}

.reviews-comment-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 52px;
}

.reviews-comment-card{
    width: 344px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 21px;
    border: 1px solid var(--blush);
    border-radius: 24px;
}

.reviews-comment-card-image{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.reviews-comment-card-container{
    text-align: center;
    margin-top: 24px;
}

.reviews-comment-card-comment{
    margin-top: 8px;
    color: var(--grey);
}


/* YOUR ORDER */

.your-order{
    background-color: var(--green);
    padding: 100px;
}

.your-order-title-container{
    width: 751px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 52px;
}

.your-order-title{
    color: var(--white);
}

.your-order-title-color{
    color: var(--blush);
}

.your-order-text{
    color: var(--white);
}

.your-order-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.your-order-container-left{
    background-color: var(--white);
    padding: 52px 48px;
    border-radius: 30px;
    width: 50%;
}

.your-order-form{
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.your-order-form-title{
    color: var(--dark);
}

.your-order-form-title-color1{
    color: var(--chianti);
}

.your-order-form-title-color2{
    color: var(--green);
}

.your-order-form-inputs{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.your-order-form-input{
    border: 1px solid var(--grey);
    border-radius: 30px;
    padding: 16px 14px;
}

.your-order-form-input:hover{
    border: 1px solid var(--chianti);
}

.your-order-form-input:focus{
    border-color: var(--green);
    outline: none;
}

.your-order-form-input:focus:invalid{
    border-color: var(--error-smthwrong);
    outline: none;
}

.your-order-form-textarea{
    border: 1px solid var(--grey);
    border-radius: 15px;
    padding: 16px 14px;
    height: 96px;
}

.your-order-form-textarea:hover{
    border: 1px solid var(--chianti);
}

.your-order-form-textarea:focus{
    border-color: var(--green);
    outline: none;
}

.your-order-form-textarea:focus:invalid{
    border-color: var(--error-smthwrong);
    outline: none;
}

.your-order-form-button{
    background-color: var(--chianti);
    color: var(--white);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.015em;
    margin-top: 24px;
}

.your-order-form-button:hover{
    background-color: var(--blush);
    color: var(--chianti);
}

.your-order-form-button:active{
    background-color: var(--white);
    color: var(--chianti);
}

.your-order-container-right{
    background-color: var(--chianti);
    border-radius: 30px;
    padding: 52px 48px;
    width: 50%;
    margin: 0 auto;
}

.your-order-container-right-image{
    text-align: center;
    margin-bottom: 80px;
}

.your-order-image-desktop{
    border-radius: 15px;
    width: 428px;
    height: 352px;
}

.your-order-image-tablet, .your-order-image-mobile{
    display: none;
}

.your-order-container-right-social{
 display: flex;
 flex-direction: column;
 gap: 16px;
 justify-content: center;
}

.your-order-social-text{
    color: var(--blush);
}

.your-order-social{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.your-order-social>li>a,.your-order-social>li>p{
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.015em;
}

/* FOOTER */

.footer{
    background-color: var(--chianti);
    padding: 52px 100px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo-text{
    width: 265px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-text{
    color: var(--white);
}

.footer-logo{
    fill: var(--white);
}

.footer-menu-contacts{
    display: flex;
    flex-direction: row;
    gap: 121px;
}



.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.footer-menu-item{
    color: var(--white)
}

.footer-menu-item:hover{
    color: var(--green);
}


.footer-address-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-address-list-item{
    color: var(--white);
}

.footer-address-list-item:hover{
    color: var(--green);
}


.privacy-policy-container{
    margin-top: 124px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.privacy-policy-list{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.privacy-policy-list-item>a,.privacy-policy-list-item>p{
    color: var(--blush);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}

.copyright-text{
    color: var(--blush);
}

