@media screen and (min-width:768px) and (max-width:1279px){

body{
    overflow-x: hidden;
}

.container{
    max-width: 768px;
    width: 100%; 
    margin: 0 auto;
}

/* NAVBAR */
.navbar-position{
    position: absolute;
    margin: 32px;
    left: 50%;
    transform: translate(-50%);
}

.navbar-menu-logo{
    display: block;
    position: absolute;
    right: 5%;
}

.navbar-menu-close-logo{
    display: block;
    position: absolute;
    top: 0;
    right: 5%;
}

.menu-checkbox, .menu-close-checkbox{
    display: none; 
}

.navbar-menu-container{
    position: fixed;
    top: 0;
    right: -100%; /* Başlangıçta sağda gizli */
    width: 50%;
    height: 100vh;
    background-color: var(--green);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 288px;
    padding-top: 350px;
}

.navbar-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 24px;
}

.navbar-menu-list-button{
    margin-top: 380px;
}

.menu-checkbox:checked ~ .navbar-menu-container{
    right: 0%;
}

.menu-checkbox:checked ~ .navbar-menu-logo{
    display: none;
}

.menu-close:checked ~ .navbar-menu-container{
    right: -100%;
}




/* HERO */

.hero-flex{        
    display: flex;
    flex-direction: column;
}

.hero-left{
    gap: 128px;
    margin-top: 120px;
    padding: 32px;
}

.hero-left-text{
    padding-right: 0;
}

.hero-image-desktop, .hero-image-mobile{
    display: none;
}

.hero-image-tablet{
    display: block;
    padding: 0;
}

/* HOW İT WORKS */

.hiw-flex{
    display: flex;
    flex-direction: column;
}

.how-it-works-left{
    padding: 100px 64px 100px 64px;
}

.hiw-desktop, .hiw-mobile{
    display: none;
}

.hiw-tablet{
    display: block;
}

.how-it-works-right{
    padding: 100px 164px 100px 164px;

}

.hiw-list-container{
    margin-top: 52px;
}

/* ADVERTİSEMENT */

.advertisement{
    padding: 100px 32px;
}

.advertisement-text-color{
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    padding: 3px;
}

.advertisement-text{
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}


/* VEGETABLES */

.vegetables-container{
    padding: 100px 32px;
}

.vegetables-card{    
    padding: 32px 30px;
}

.vegetables-card-image-desktop, .vegetables-card-image-mobile{
    display: none;
}

.vegetables-card-image-tablet{
    display: block;    
}

/* REVİEWS */
.reviews-container{
    padding: 100px 32px;
    margin: 0 auto;
}

.reviews-comment-cards{
    width: 100%; 
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
 
}

.reviews-comment-card{
    min-width: 340px;   
}

/* YOUR ORDER */
.your-order{
    padding: 100px 32px;
}

.your-order-title-container{
    width: 640px;
}

.your-order-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.your-order-container-left{
    margin: 0 64px;
    padding: 72px 100px;
    min-width: 640px;
}

.your-order-container-right{
    padding: 52px;
    min-width: 640px;
    margin: 0 auto;
}   

.your-order-container-right-image{
    text-align: center;
    margin-bottom: 52px;
}

.your-order-image-tablet{
    display: block;
    border-radius: 15px;
    width: 536px;
    height: 316px;
}

.your-order-image-desktop, .your-order-image-mobile{
    display: none;
}

/* FOOTER */
.footer{
    padding: 32px;
}


.footer-menu-contacts{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.privacy-policy-container{
    margin-top: 100px;
}

}
